<!DOCTYPE html>
<html>
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mapsta</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<!-- <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> -->

	</head>

	<body>
		<header>
			<div class="appTitle">Mapsta</div>
<!-- 			<div class="form">
				<form method="GET" action="/result">
					<input type="text" name="searchfield" size = "25" value="" />
				</form>
			</div> -->
		</header>
		<div id="map">
		</div>
		<div id="thumbnails">
			<div id="thumbContainer"></div>
		</div>

		<script>

    		// https://stackoverflow.com/questions/16098397/pass-variables-to-javascript-in-expressjs
	   		function htmlDecode(input){
			    var e = document.createElement('div');
			    e.innerHTML = input;
			    return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
			 }

    		var ig;

    		ig = JSON.parse(htmlDecode("<%= JSON.stringify(dbdata) %>"));
    		


			console.log("Loading...");	

			var map;
			var marker = [];
			var media;

			var latlngCtr = {
				lat: 30.71388249013611,
				lng: 9.209659489448029
			};

			// https://developers.google.com/maps/documentation/javascript/
			function initMap() {
				map = new google.maps.Map(document.getElementById('map'), {
					'center' : latlngCtr,
					'zoom' : 3,
					'mapTypeId' : google.maps.MapTypeId.SATELLITE,
					'draggable' : true,
					'scrollwheel' : true
				});
			}

			window.addEventListener('load', function() {

				console.log("The document is ready.");
				app.initialize();
				
			}, false);
				
			var app = {
				initialize: function() {
					app.getInstagram();
				},

				getInstagram: function() {

					console.log("loading instagram...");
					console.log(ig.length);

					var geotags = [];

					var thumb = document.querySelector('#thumbContainer');
					var html = '';

					for(var i=0; i<ig.length; i++) {
						html += '<div class="dummyImg"><img src="' + ig[i].thumbnail + '"></div>';
					}
					thumb.innerHTML = html;

					for(var i=0; i<ig.length; i++) {
						geotags[i] = { 
							"lat" : parseFloat(ig[i].location.latitude), 
							"lng" : parseFloat(ig[i].location.longitude) 
						};
					//	console.log(ig[i].location.latitude);
					}

					app.markGoogleMap(geotags);
				},

				markGoogleMap: function(location) {
			

					for(var i=0; i<location.length; i++) {
						// map.data.add(location[i]);
						console.log(location[i].lat);
						marker[i] = new google.maps.Marker({
							"map" : map,
							"position" : location[i],
							"animation" : google.maps.Animation.DROP
						});
					}

					// map.data.setStyle({
					//   path: google.maps.SymbolPath.CIRCLE,
			  //         fillColor: 'red',
			  //         fillOpacity: .2,
			  //         scale: 10,
			  //         strokeColor: 'white',
			  //         strokeWeight: .5
					// });
				}

			}

		</script>
		<script id="mapkey" src="https://maps.googleapis.com/maps/api/js?key=<%=gmapKey%>&callback=initMap" async defer></script>
	</body>
	
</html>

